de# Ignore Python caches and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.onnx
*.pth
build/
dist/
.vscode/
checkpoints/
dpngtmp/
logs/
.cache/
outputs/
.onnx
.pth

# Ignore virtual environments
.venv*/
.suckthis/
sux/
/.cock
/.ai
dan1_processing.log
dan1_processing.log
runs/latest/diarized_transcript_with_emotion.csv
tmp_faster_check.py
