# Ignore Python caches and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.onnx
*.pth
build/
dist/
.vscode/
checkpoints/
dpngtmp/
logs/
.cache/
outputs/

# Ignore virtual environments
.venv*/
.suckthis/
sux/

data/dan1.m4a
diaremot22.zip
diaremot_out/diarized_transcript_with_emotion.csv
diaremot_out/last_run.log
diaremot_out/speakers_summary.csv
/diaremot_out
summary.html
src/diaremot/affect/dotnet-sdk-9.0.305-win-x64.exe
diaremot2
/models
